{% extends 'base.html' %}

{% block user %}
<div class="wpcmsdev-columns">
            <div class="column column-width-one-half">
                <h4>Quick Contact</h4>
                <form
                    class="wpcf7"
                    method="post"
                    id="contactform"
                >
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                    <div clas="done">{{ form.non_field_errors }}</div>
                    {% endif %}
                    <div class="form">
                        <p>
                            {{ form.username.errors }}
                            {{ form.username }}
                        </p>
                        <p>
                            {{ form.password.errors }}
                            {{ form.password }}
                        </p>
                        <input
                            type="submit"
                            id="submit"
                            class="clearfix btn"
                            value="Send"
                        >
                    </div>
                </form>
                <div class="done">
                    Your message has been sent. Thank you!
                </div>
            </div>
            <div class="column column-width-one-half">
                <h4>Find Us: (888) 252 389 3571</h4>
                <p>
                    If you want to hire me or have any feedback or questions about our service in general, please send us a message by completing our enquiry form. It’s best to call though, someone we’ll always be there for you.
                </p>
                <p>
                    Monday – Friday: 9am to 5pm
                    <br>
                    Saturday: 10am to 2pm
                    <br>
                    Sunday: Closed
                </p>
            </div>
        </div>
{% endblock user %}